body {
  background-color: ivory;
}
h1 {
  color: papayawhip;
  margin-left: 60px;
  font-family: 'Walter Turncoat', cursive;
  letter-spacing: 3px;
}
h2 {
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
p{
  margin-left: 40px;
  font-size: 20px;
}
span{
  font-family: 'Walter Turncoat', cursive;
  font-size: 28px;
}
ul{
  margin: 40px;
  font-size: 18px;
}
div{
  background-color: sienna;
}
